/*:root{
  --wine: rgba(116, 6, 6, 0.925);
  --blue: rgba(15, 79, 153, 0.979);
}*/

header{
  background: rgba(116, 6, 6, 0.925);
}

header h1 {
  font-weight: bolder;
  font-stretch: expanded;
  font-size: larger;
  margin: 30px;
  justify-content: center;
}

header ul {
position: inline;

}
/*

  body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
  }
